img {
    width:200px;
}

h2 {
    Color: #809fff;
}

p {
 Color: #ff99cc;
}

 .nameandlink { color:  #ff1a8c;            
}


 body {
    background:url("https://img.freepik.com/free-vector/background-seamless-pattern-vector-with-cute-memphis_53876-105506.jpg?size=626&ext=jpg");
}

ul { 
    color: #ffcc66 ;
}


h2 { 
font-family: 'Dongle', sans-serif;
}


p { 
  font-family: 'Dongle', sans-serif;
}

ul { 
    font-family: 'Dongle', sans-serif;
}


    